*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
:root{
    --main-bg-color: #fff;
    --text-color: #000;
}
body{
    min-height: 100vh;
    background: var(--main-bg-color);
    color: var(--text-color);
}

/*            RESUABLE THINGS            */
.extra-space{
    height: 420px;
}
.fancy-link{
    color: #959599;
    border-bottom: 1px dotted #959599;
    /* text-decoration-style: dotted; */
}
.fa-circle-check{
    color: #47DA84;
}
.fa-question{
    font-size: 13px;
    color: white;
    background-color: #7191D1;
    border-radius: 50%;
    padding: 4px 7px;
    margin: 0 10px;
    cursor: pointer;
}
.btn-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.white-button{
    background: white;
    border: 1px solid black;
    
}
.gold-button{
    background: #D4AE58;
}
.basic-button{
    color: black;
    border: none;
    border-bottom: 1px dotted #959599;
    background: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/*            HEADER            */
.global-header{
    /*position: absolute;*/
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */

    background: #000000;
    color: white;
    
}
.header-wrapper{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 25px;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}
.header-wrapper .nasa-logo{
    width: 50%;
}
.header-wrapper .nasa-logo img{
    width: 120px;
}
.header-item-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
}
.header-item-wrapper .item-title{
    font-weight: bold;
}
.header-item-wrapper .fa-angle-down{
    font-size: 10px;
}
.header-item-wrapper .fa-angle-down.special{
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px;
}
.search-wrapper{
    width: 205px;
    height: 36px;
    color: #B9B9BB;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    border: 1px solid #2E2E32;
    padding: 10px;
}
.search-wrapper .fa-magnifying-glass{
    width: 12px;
    height: 12px;
}
.live-thing{
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
}

/*            NAV            */
.global-navbar{
    width: 100%;
    height: 40px;
    
    background: white;
    color: #58585B;
    border-bottom: 1px solid #D1D1D1;

    padding: 0 30px;
}
.navbar-wrapper{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    height: 100%;
    /* width: 60%; */
}
.pages-wrapper span{
    cursor: pointer;
}
.pages-wrapper .active-page{
    color: #000;
    font-weight: bold;
}
.nav-wrapper{
    /* text-align: center; */
}
.nav-items-list{
    display: flex;
    flex-direction: row;
    
    gap: 25px;
}
.nav-items-list li{
    cursor: pointer;
}
#yeet {
    opacity: 0;
    pointer-events: none;
}


/*            CONTENT            */
.content-wrapper{
    margin: 75px 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.page-title{
    font-size: 70px;
}
.content-wrapper .description{
    width: 600px;
    line-height: 1.6;
}
.buttons-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;
}



/*            FOOTER            */
.global-footer{
    width: 100%;
    height: 600px;
    background: #000000;
    color: white;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 35px;
    /* justify-content: center;
    align-items: center; */
    padding: 60px;
    width: 100%;
}
.footer-wrapper .nasa-logo img{
    width: 80px;
}
.footer-links-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.footer-links-wrapper.group-1 li{
    font-weight: bold;
    cursor: pointer;
}
.footer-links-wrapper.group-1 .footer-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nasa-info{
    width: 400px;
}
.footer-links .fa-circle-arrow-right{
    color: #F64137;
    background-color: white;
    border-radius: 50%;
}
.footer-links .socials{
    color: #959599;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-links .socials .social-links{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footer-links .socials .social-links .fa-brands{
    background-color: #2E2E32;
    border-radius: 50%;
    padding: 7px;
}
.footer-wrapper hr{
    background-color: #2E2E32;
    height: 1px;
    border: none;
}
.footer-links-wrapper.group-2 .footer-links{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.footer-links-wrapper.group-2 li{
    color: #D1D1D1;
    cursor: pointer;
}
.footer-links-wrapper.group-3{
    color: #959599;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 60px;
}


/*                        QUESTION STYLING                      */
.question-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.progress-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.progress-bar h2{
    font-size: 30px;
}
.progress-bar-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.bar-part-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bar-part-wrapper hr{
    background-color: #bdbdbd;
    height: 5px;
    border: none;
    border-radius: 5px;
}
.internal-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.internal-content-wrapper h1{
    font-size: 45px;
}
.inquiry-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inquiry-wrapper hr{
    background-color: #D1D1D1;
    height: 1px;
    border: none;
}
/* .page-title .fa-question{
    font-size: 24px;
} */
.radio-buttons-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.steps{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.steps hr{
    /* width: 50%; */
    flex: 1;
}
.steps .completed{
    background-color: #7191D1;
}
.steps .current{
    background-color: #2B3F8A;
}
/* .step-line {
    flex: 1;
    border: none;
    border-top: 1px solid black;
} */

/*              QUESTION 1              */
.inquiry-wrapper.cb{
    gap: 30px;
}
.check-box-wrapper.dropdown{

}
.check-box-wrapper.dropdown label{
    font-size: 25px;
    font-weight: bold;
    padding: 0 15px;

    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
.toggle-dropdown{
    border: none;
    background-color: white;
}
.check-box-wrapper.dropdown .toggle-dropdown{
    float: right;
}
.check-box-wrapper.dropdown .fa-angle-down.special{
    font-size: 15px;
    border: 1px solid #B9B9BB;
    border-radius: 50%;
    padding: 3px 5px 1px 4px;
    color: black;
    
    cursor: pointer;
}
.dropdown-text-wrapper{
    /* display: none; */
}
.dropdown-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

    /* display: none; */
}
.recommendation{
    width: 400px;
    border: 1px solid #D4AE58;
    padding: 20px;
    line-height: 1.5;
    color: #58585B;
}
.recommendation .fa-message{
    color: #D4AE58;
}
.recommendation .fancy-link{
    color: black;
    font-weight: normal;
}


/*              Configuration           */
.bar-part-wrapper .fa-circle-check{
    margin-right: 5px;
}
.inquiry-wrapper.config-steps{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.inquiry-wrapper .text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.inquiry-wrapper .text-wrapper label{
    font-weight: bold;
}
.inquiry-wrapper .text-wrapper input{
    width: 50%;
    padding: 10px;
    border: 1px solid #D1D1D1;
}
.inquiry-wrapper .text-wrapper select{
    width: 50%;
    padding: 10px;
    border: 1px solid #D1D1D1;
}
.inquiry-wrapper .help-text{
    color: #58585B;
    font-size: 13px;
}

/*          CONFIG part 4           */
.inquiry-wrapper .text-wrapper.review{
    gap: 12px;
    margin-bottom: 20px;
}
.inquiry-wrapper .text-wrapper.review .help-text{
    font-size: 17px;
}

/*          finished page           */
.finished-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.finished-wrapper h2{
    font-size: 30px;
}
.message-wrapper{
    border: 1px solid #47DA84;
    padding: 75px 45px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
}
.message-wrapper .fa-circle-check{
    font-size: 40px;
}
.message-wrapper h1{
    font-size: 50px;
    font-weight: normal;
}
.message-wrapper p{
    color: #58585B;
}
.finished-wrapper .fancy-link{
    color: black;
}
.finished-wrapper hr{
    background-color: #D1D1D1;
    height: 1px;
    border: none;
}
.deployment-wrapper{
    display: flex;
    flex-direction: row;
    /* gap: 40px; */
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}
.fa-file-lines{
    color: #58585B;
    background-color: #E3E3E3;
    font-size: 30px;
    border-radius: 50%;
    padding: 10px 13px;
}
.deployment-info{
    margin: 0 40px;
    
}
.deployment-info p{
    font-size: 12px;
    color: #17171B;
}
.file-size{
    font-size: 10px;
    margin-left: 10px;
}
.fa-download{
    color: white;
    background-color: #7191D1;
    font-size: 15px;
    border-radius: 50%;
    padding: 9px;
    margin: 9px;
    cursor: pointer;

}
.deployment-wrapper .thing{ /*this is to get the download thing all the way to the right*/
    margin: 0 auto;
    margin-right: 0;
}